# OpenVPN Configuration
OPENVPN_PROVIDER='PIA'
#OPENVPN_CONFIG='ca_toronto'
OPENVPN_CONFIG='ca_vancouver'
#OPENVPN_CONFIG='us_seattle'
OPENVPN_USERNAME='YOUR_OPENVPN_USERNAME'
OPENVPN_PASSWORD='YOUR_OPENVPN_PASSWORD'

# LAN network IP range
LOCAL_NETWORK='192.168.86.0/24'

# Directories for container configs and media data
SERVICE_DIR='/home/user/docker'     # This should be a folder on the host; do not use a NAS mount
DATA_DIR='/home/user/media'         # This can/should be a NFS or Samba NAS mount

# User/Group ID, umask, and timezone for almost all containers
PUID='1026'
PGID='100'
UMASK='022'
TZ='Etc/UTC'



# Slack notification hook ID
SLACK_HOOK='YOUR_SLACK_WEBHOOK_URL'

# Duck DNS
DUCKDNS_SUBDOMAINS='DOMAIN,ANOTHERDOMAIN'
DUCKDNS_TOKEN='YOUR_DUCKDNS_TOKEN'

# Homepage
HOMEPAGE_ALLOWED_HOSTS='YOURSERVER:3333'

# SWAG configuration
# Figure out what works best for you
SWAG_SUBDOMAINS='www,'
SWAG_VALIDATION='http'
SWAG_URL='YOUR_DOMAIN.duckdns.org'
SWAG_EMAIL='YOUR_EMAIL@example.com'
SWAG_EXTRA_DOMAINS='yourdomain.com,www.yourdomain.com,emby.yourdomain.com,media.yourdomain.com,requests.yourdomain.com,anotherdomain.com,www.anotherdomain.com'
