# System and Host paths
SERVICE_DIR='/home/user/docker'     # This should be a folder on the host; do not use a NAS mount
DATA_DIR='/home/user/media'         # This can/should be a NFS or Samba NAS mount
HOST_HOME_DIR='/home'
DOCKER_SOCK='/var/run/docker.sock'

# DNS Resolvers
DNS_PRIMARY='1.1.1.1'
DNS_SECONDARY='9.9.9.9'

# User/Group ID, umask, and timezone for almost all containers
PUID='1026'
PGID='100'
UMASK='022'
TZ='Etc/UTC'

# Hardware transcoding (video and render group IDs)
EMBY_GIDLIST='44,993'

# OpenVPN Configuration
OPENVPN_PROVIDER='PIA'
#OPENVPN_CONFIG='ca_toronto'
OPENVPN_CONFIG='ca_vancouver'
#OPENVPN_CONFIG='us_seattle'
OPENVPN_USERNAME='YOUR_OPENVPN_USERNAME'
OPENVPN_PASSWORD='YOUR_OPENVPN_PASSWORD'

# Transmission Limits
TRANSMISSION_UPLOAD_LIMIT='250'
TRANSMISSION_SPEED_LIMIT_UP='250'
TRANSMISSION_IDLE_SEEDING_LIMIT='2'
TRANSMISSION_RATIO_LIMIT='0'

# LAN network IP range
LOCAL_NETWORK='192.168.86.0/24'

# Slack notification hook ID
SLACK_HOOK='YOUR_SLACK_WEBHOOK_URL'

# Duck DNS
DUCKDNS_SUBDOMAINS='DOMAIN,ANOTHERDOMAIN'
DUCKDNS_TOKEN='YOUR_DUCKDNS_TOKEN'

# Homepage
HOMEPAGE_ALLOWED_HOSTS='YOURSERVER:3333'

# SWAG configuration
# Figure out what works best for you
SWAG_SUBDOMAINS='www,'
SWAG_VALIDATION='http'
SWAG_URL='YOUR_DOMAIN.duckdns.org'
SWAG_EMAIL='YOUR_EMAIL@example.com'
SWAG_EXTRA_DOMAINS='yourdomain.com,www.yourdomain.com,emby.yourdomain.com,media.yourdomain.com,requests.yourdomain.com,anotherdomain.com,www.anotherdomain.com'

# Host Port Mappings
PORT_BAZARR='6767'
PORT_CROSSWATCH='8787'
PORT_DOCKERPROXY='2375'
PORT_DOCKHAND='3210'
PORT_EMBY_HTTP='8096'
PORT_EMBY_HTTPS='8920'
PORT_FLARESOLVERR='8191'
PORT_HOMEPAGE='3333'
PORT_PROWLARR='9696'
PORT_RADARR='7878'
PORT_RPDB='8750'
PORT_SABNZBD_HTTP='8080'
PORT_SABNZBD_HTTPS='9090'
PORT_SEERR='5056'
PORT_SONARR='8989'
PORT_SWAG_HTTP='80'
PORT_SWAG_HTTPS='443'
PORT_SWAG_DASHBOARD='81'
PORT_TRANSMISSION_VPN='9099'
PORT_TRANSMISSION_RUSH_WEB='9091'
PORT_TRANSMISSION_RUSH_PEER='51413'
