# Ignore the secret file
.env

# Ignore all subfolders (the container data)
# This assumes the folders in your screenshot are data volumes
bazarr/
crosswatch/
diun/
dockhand/
duckdns/
emby/
homepage/
portainer/
prowlarr/
radarr/
rating-poster-database/
sabnzbd/
seerr/
servuo/Client/
servuo/Logs/
servuo/Saves/
servuo/Saves.backup*/
servuo/upstream/
servuo/ServUO-pub57.zip
sonarr/
swag/
transmission-openvpn/
transmission-rush/
