# Ignore the secret file
.env

# Ignore all subfolders (the container data)
# This assumes the folders in your screenshot are data volumes
bazarr/
crosswatch/
diun/
dockhand/
duckdns/
emby/
homepage/
modernuo/data/
modernuo/uo-client/
portainer/
prowlarr/
radarr/
rating-poster-database/
sabnzbd/
seerr/
sonarr/
swag/
transmission-openvpn/
transmission-rush/
