###
# [Base ServUO Platform Configuration]
# Origin: ServUO Core (servuo/upstream/Config/DataPath.cfg)
# Scope: DataPath
# Status: Customized for FesterUO Shard (Points to mounted client data)
###
CustomPath=/server/Client
