###
# [Base ServUO Platform Configuration]
# Origin: ServUO Core (servuo/upstream/Config/Loot.cfg)
# Scope: Loot
# Status: Customized for FesterUO Shard (POF Jewelry & Felucca Luck)
###

# Allow Powder of Fortifying to be applied to jewelry to prevent durability loss (default: False)
CanPOFJewelry=True

# Additional Luck bonus granted when hunting in Felucca (default: 1000)
FeluccaLuckBonus=1000
